<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>User Information</title>
</head>
<body>
	<h1>User Information</h1>
	<form action="#" th:action="@{/home}"  th:object="${recipe}" method="post">
  <table border="0" cellpadding="10">
                <tr>
                    <td>User Id : </td>
                    <td><input type="number" field="${userId}" name="userId" /></td>
                </tr>
                <tr>
                    <td>User Name :</td>
                    <td><input type="text" field="*{userName}" name = "userName" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Log In</button> </td>
                </tr>
            </table>
        </form>
</body>
</html>
